out_arch/ChannelsMetadata.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="boundle">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="frequency" type="xs:unsignedShort" />
        <xs:element name="channels">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="channel">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="amplification" type="xs:unsignedByte" />
                  </xs:sequence>
                  <xs:attribute name="number" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>